header{
    width: 100%;
    background: #E0CDBC;   
}

.imagem-cabecalho{
    width: 120px;
    display: inline;
    margin: 0 10%;
}
h1{
    position: relative;
    vertical-align: 2px;
    right: 0;
    font-size: 100px;
    color: rgb(124, 58, 1);
    display: inline;
    font-weight: bold;
    font-style: italic;
}
nav li{
    display: inline;
    margin: 0 0 0 20px;
}
nav a{
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(235, 156, 86);
    text-decoration: none;
}